---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/memote.jpg';
---

<Layout
	title="About Me"
	description="Who is Dez?"
	pubDate={new Date('June 23 2025')}
	heroImage={AboutHeroImage}
>
	<p>
	Hello, I call myself Dez on the internet, no, it isn't my real name.  I'm sure you can figure that out if you wanted to though.
	I'm writing this blog out using Astro, JavaScript and React to try and help my very boring day job a little, and because it helps me to reconnect with the massive amount of stuff I have in my collection.
	</p>
</Layout>
